/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';
@import "variables.scss";

*[primary] {
  color: $primary_color;
}

*[accent] {
  color: $accent_color;
}

*[warn] {
  color: $warn_color;
}

html, body { height: 100%; color: $primary_color}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Distribución vertical

mat-sidenav-content {
  display: flex !important;
  height: 100vh !important;
  flex-direction: column;

  article {
    flex-grow: 0;
    flex-shrink: 1;
    height: fit-content;
  }
  article#play-list {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #FFFFFF08;
  }
}

::-webkit-scrollbar{
  width:5px;
  margin-right: 5px;
}
::-webkit-scrollbar-track{
  background:#69f0ae66;
  border-radius:5px;
  border: solid 3px transparent;
}
::-webkit-scrollbar-thumb{
  background:#69f0ae;
  border-radius:5px
}
