
<mat-sidenav-container>
  <article>
    <mat-toolbar [class]="'mat-h1'">
        Audio Player - {{ (stateService.playerState$ | async).audioTitle }}
    </mat-toolbar>
  </article>

  <article [id]="'play-list'">
    <app-play-list></app-play-list>
  </article>

  <article [id]="'playing-info'">
    <p color = "accent" [ngClass]="['track-info', 'mat-h2']">
      <span [id]="'audio-name'">{{ (stateService.playerState$ | async).audioTitle }}</span>
      <span [class]="'fill-remaining-space'"></span>
      <span [id]="'audio-times'">
        {{ (stateService.playerState$ | async).currentTime | date:'mm:ss' }} / {{ (stateService.playerState$ | async).duration | date:'mm:ss' }}
      </span>
    </p>

    <div [id]="'progress-bar-container'">
      <mat-progress-bar [id]="'progress-bar-background'" mode="determinate" value="{{(getProgress())}}">
      </mat-progress-bar>
      <div [id]="'progress-bar'" style="display:none;"><mat-icon color="accent">album</mat-icon></div>
    </div>
  </article>

  <article [ngClass]="['controls']">
    <app-player-controls
      *ngFor="let control of playerState.controlList"
      [control]="control"
      [ngClass]="{'play-pause': control.name === 'play' || control.name === 'pause'}"
      (click)="handleClickControl(control.name)">
    </app-player-controls>
  </article>
</mat-sidenav-container>
