app-audio-player {
  text-align: center;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: auto;
}

#skin {
  position: relative;
  width: 600px;
  height: fit-content;
  max-height: 90%;
  border:  4px solid;
  border-radius: 5px;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #888;
}

article.controls {
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-areas: "back play-pause next";
  grid-column-gap: 5px;
  text-align: center;
}

app-player-controls.play-pause {
  grid-column: play-pause;
  grid-row: 1;
}

.trackinfo{
  display: flex;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
}
#progress-bar-container {
  position: relative;
  height: 20px;
}
#progress-bar-background {
  position: absolute;
  top: 10px;
}
#progress-bar {
  position: absolute;
  width: 40%;
  top: 0;
  mat-icon {
    position: absolute;
    right: -12px;
  }
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
