
<div id="skin" class="container">
  <app-play-list></app-play-list>

  <article [id]="'playing-info'">
    <p [ngClass]="'trackinfo'">
      <span [id]="'audio-name'">{{ (stateService.playerState$ | async).audioTitle }}</span>
      <span [class]="'fill-remaining-space'"></span>
      <span [id]="'audio-duration'">{{ (stateService.playerState$ | async).currentTime }} / {{ (stateService.playerState$ | async).duration }}</span>
    </p>

    <div [id]="'progress-bar-container'">
      <mat-progress-bar [id]="'progress-bar-background'" mode="determinate" value="40">
      </mat-progress-bar>
      <div [id]="'progress-bar'"><mat-icon color="accent">album</mat-icon></div>
    </div>
  </article>

  <article [ngClass]="'controls'">
    <app-player-controls
      *ngFor="let control of playerState.controlList"
      [control]="control"
      (click)="handleClickControl(control.name)">
    </app-player-controls>
  </article>
</div>
