<button @show-hide mat-icon-button color = "accent"
  [disabled]="playerState.currentAudio === 0 && control.name === 'step-backward' || playerState.isLastAudio && control.name === 'step-forward'"
  *ngIf="playerState.isPlaying && control.name !== 'play' || !playerState.isPlaying && control.name !== 'pause'"
  [ngClass]="['md-48']"
  [ngClass]="{'playing': playerState.isPlaying, 'paused': !playerState.isPlaying}">
  <mat-icon [ngClass]="['material-icons', control.name, 'md-48']">{{ control.materialIcon }}</mat-icon>
</button>
