<div id="playlist">
  <mat-nav-list color="primary">
    <mat-list-item @show-hide *ngFor="let audio of playList; let i = index" id="audio{{i}}">
        <a matLine href="/play/{{i}}">{{ audio.audioTitle }}</a>
        <a mat-icon-button href="/play/{{i}}">
          <mat-icon color = "accent">play_arrow</mat-icon>
        </a>
        <a mat-icon-button href="/edit/{{i}}">
          <mat-icon color = "accent">edit</mat-icon>
        </a>
        <a mat-icon-button href="/delete/{{i}}">
          <mat-icon color = "warn">delete_forever</mat-icon>
        </a>
    </mat-list-item>
  </mat-nav-list>
